body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header{
    width: 400px;
}

footer {
    margin: 20px;
}

h1{
    text-align: center;
    font-family: 'Lobster';
    font-size: 48px;
    padding: 5px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    box-shadow: 4px 4px 5px #888888;
}

img{
    width: 450px;
    height: 300px;
    margin: 20px;
    transition: all 0.35s ease 0s;;
}

img:hover{
    transform: scale(1.1);
}
